<div id="body">
  <div class="first-column">
    <div class="logo">
      <img src="./assets/logo.png" style="width: 162.5px;">
    </div>
    <div class="div-professor">
      <div class="foto-professor">
        <img class="imagem"
          [src]="sexo == 'F' ? 'https://img.icons8.com/dusk/64/000000/student-female.png' : 'https://img.icons8.com/dusk/64/000000/student-male.png' ">
      </div>
      <p> {{nome}}</p>
    </div>
  </div>
  <div>
    <div class="barra">
    </div>
    <div id="containerTitulo">
      <h1>{{nomeMateria}}</h1>
    </div>
    <div class="Container-info-professor">
      <div class="info-professor">
        <div id="info">
          <table>
            <tr>
              <th>Conteúdo</th>
              <th>Descrição</th>
              <th>Peso</th>
              <th>Nota</th>
            </tr>
            <tr *ngFor="let prova of listaProvas">
              <td>
                {{prova.CONTEUDO}}
              </td>
              <td>
                {{prova.DESCRICAO}}
              </td>
              <td>
                {{prova.PESO}}
              </td>
              <td>
                {{prova.NOTA}}
              </td>
            </tr>
          </table>
        </div>
        <button (click)="voltar()" class="botao">
          Voltar
        </button>
      </div>
    </div>
    <div class="container-turmas">
      <div id="turmas">
      </div>
    </div>
  </div>
</div>