<div class="login-container">
  <div id="login">
    <div id="titulo">Login</div>
    <div>
      <div class="nome-input">
        Nome de usuário
      </div>
      <div class="inputs">
        <input [(ngModel)]='user' placeholder="Nome de usuário" type='text'>
      </div>
    </div>
    <div>
      <div class="nome-input">
        Senha
      </div>
      <div class="inputs">
        <input [(ngModel)]='password' placeholder="Senha" type='password'>
      </div>
    </div>
    <div>
      <div style="display: flex; justify-content: center;">
        <button (click)='logar()'>Login</button>
      </div>
    </div>

  </div>
</div>