
.login-container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#login {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: #37c6ff;
  width: 330px;
  height: 430px;
  border-radius: 5px;
}

#titulo{
  position: relative;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 600;
  border-bottom: white solid 1px;
  padding-bottom: 15px;
  color: rgb(58, 56, 56);
}

#login button{
  width: 110px;
  height: 25px;
  border: none;
  border-radius: 15px;
  background-color: #004764;
  margin-bottom: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: white;
}

#login button:hover {
  border: none;
  border-radius: 15px;
  background: white;
  cursor: pointer;
  color: #004764;
}

#login input {
  width: 80%;
  height: 25px;
  border: none;
  border-radius: 15px;
  color: rgb(58, 56, 56);
  outline: none;
}

.nome-input{
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: rgb(58, 56, 56);
}

.inputs{
  width: 220px;
  height: 40px;
  background-color: white;
  display: flex;
  align-items: center;
  padding-left: 15px;
  border-radius: 5px;
  color: rgb(58, 56, 56);
  outline: none;
}

a{
  color: cornflowerblue;
  font-size: 13px;
}

a:hover{
  color:blue;
}