<div id="body">
  <div class="first-column">
    <div class="logo">
      <img src="./assets/logo.png" style="width: 162.5px;">
    </div>
    <div class="div-professor">
      <div class="foto-professor">
        <img class="imagem"
          [src]="sexo == 'F' ? 'https://img.icons8.com/dusk/64/000000/school-director-female-skin-type-4.png' : 'https://img.icons8.com/dusk/64/000000/school-director-male-skin-type-4.png' ">
      </div>
      <p> {{nome}}</p>
    </div>
  </div>
  <div>
    <div class="barra">
    </div>
    <div id="containerTitulo">
      <h1>{{nomeTurma}}</h1>
    </div>
    <div class="container_Informacoes">
      <div class="informacoes_prova">
        <div id="linha">
          <div class="cadastro">
            <span>Conteúdo:</span>
            <input [(ngModel)]="conteudo" class="input_cadastro" type="text">
          </div>
          <div class="cadastro">
            <span>Peso:</span>
            <input [(ngModel)]="peso" class="input_cadastro" type="text">
          </div>
        </div>
        <div class="cadastro" id="cadastro2">
          <span style="margin-left: 10px;">Descrição:</span>
            <textarea [(ngModel)]="descricao" name="Descrição" id="descricao" cols="30" rows="10"></textarea>
        </div>
      </div>
    </div>
    <div class="container-turmas">
      <div id="turmas">
        <div class="turma" *ngFor="let aluno of listaAlunos;let i = index">
          <div>
            <div>
              Aluno: {{aluno.nome}}
            </div>
            <div>
              Idade:{{aluno.idade}}
            </div>
            <div>
              Email: {{aluno.email}}
             </div>
          </div>
          <div>
            <div>
              <span style="margin-right: 10px;">Nota: </span>
              <input class="input-nota" [(ngModel)]="listaNotas[i]" type="text">
            </div>
          </div>
        </div>
        <div id="botoes">
          <div (click)="cadastrarNota()" class="botao">
            Cadastrar nota
          </div> 
          <div (click) ="voltar()" class="botao">
            Voltar
          </div>
        </div>
      </div>
    </div>
  </div>
</div>