<body>
  <div class="first-column">
    <div class="logo">
      <img src="./assets/logo.png" style="width: 162.5px;">
    </div>
    <div class="div-professor">
      <div class="foto-professor">
        <img class="imagem"
          [src]="sexo == 'F' ? 'https://img.icons8.com/external-wanicon-lineal-color-wanicon/64/000000/external-woman-avatar-wanicon-lineal-color-wanicon-4.png' : 'https://img.icons8.com/dusk/64/000000/school-director-male-skin-type-4.png' ">
      </div>
      <p> {{nome}}</p>
    </div>
  </div>

  <div class="second-column">
    <div class="barra">
    </div>
    <div id="titulo">
      <h1> Inicio </h1>
    </div>
    <div id="container-abas">
      <div style="background-color: #004764;" class="aba">
        <div id="div-botao" (click)="vai()">
          <span>Salas</span>
        </div>
        <div class="numeroTurmas">
          {{tamanho}}
          <img class="imagem-icone" src="https://img.icons8.com/material-outlined/24/ffffff/menu--v1.png" />
        </div>
      </div>
      <div style="background-color: #00ABF0;" class="aba">
        <div id="div-botao" (click)="vaiLista()">
          <span>Alunos</span>
        </div>
        <div class="numeroTurmas">
          {{alunos}}
          <img class="imagem-icone" src="https://img.icons8.com/ios-glyphs/30/ffffff/crowd.png" />
        </div>
      </div>
    </div>
    <div class="Container-info-professor">
      <div class="info-professor">
        <div id="info">
          <div class="foto-professor">
            <img class="imagem"
              [src]="sexo == 'F' ? 'https://img.icons8.com/external-wanicon-lineal-color-wanicon/64/000000/external-woman-avatar-wanicon-lineal-color-wanicon-4.png' : 'https://img.icons8.com/external-wanicon-lineal-color-wanicon/64/000000/external-man-avatar-wanicon-lineal-color-wanicon-7.png' ">
          </div>
          <div class="informacoes">
            <div class="professor">
              Usuário: {{nome}}
            </div>
            <div class="professor">
              Email: {{email}}
            </div>
            <div class="professor">
              Cargo: {{cargo}}
            </div>
          </div>
        </div>
        <div class="botao">
          <button (click)="vaiPerfil()">Configurar Perfil</button>
        </div>
        <div class="botao">
          <button (click)="deslogar()">Sair</button>
        </div>
      </div>
    </div>
  </div>
</body>