*{
    padding: 0px;
    margin: 0px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-column{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 20vw;
    height: 100vh;
    box-shadow: 0 0 10px #686868;
}

.div-professor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p{
    text-align: center;
}

.second-column{
    width: 80vw;
    height: 100vh;
    background-color: #e9e9e9;
}

.barra{
    width: 100%;
    height: 6%;
    background-image: linear-gradient(to right,#004764, #0071A0, #00ABF0);
}

#titulo{ 
    padding: 10px;
}

h1 {
    font-size: 30px;
    background: -webkit-linear-gradient(#004764, #0071A0, #00ABF0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

#container-abas{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.aba{
    width: 30vw;
    height: 15vh;
    margin-left: 20px;
    padding: 15px;
    color: white;
    border-radius: 5px;
    font-size: 20px;
}

#div-botao{
    background-color: transparent;
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
}

.numeroTurmas{
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    height: 50%;
}

.imagem{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 2px lightgray solid;
    background-color: white;
}

.imagem-icone{
    margin-left: 10px;
}

.Container-info-professor{
    margin: 20px 0px;
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-professor{
    background-color: #0071A0;
    margin: 20px;
    width: 70%;
    height: 90%;
    border-radius: 10px;
    border: 1px solid #e1f6ff;
    display: grid;
    align-items: center;
    justify-content: center;
}

#info{
    margin: 20px;
    width: 560px;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.informacoes{
    background-color: white;
    padding: 15px;
    margin-left: 20px;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
}

.professor{
    margin-bottom: 5px;
}

button{
    background-color: transparent;
    border: none;  
    color: white;
    font-weight: 600;
}

.botao{
    background-color: #00ABF0;
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
    text-align: center;
    border-radius: 5px;
  
}
