<body>
  <div class="first-column">
    <div class="logo">
      <img src="./assets/logo.png" style="width: 162.5px;">
    </div>
    <div class="div-professor">
      <div class="foto-professor">
        <img class="imagem"
          [src]="sexo == 'F' ? 'https://img.icons8.com/dusk/64/000000/school-director-female-skin-type-4.png' : 'https://img.icons8.com/dusk/64/000000/school-director-male-skin-type-4.png' ">
      </div>
      <p> {{nome_velho}}</p>
    </div>
  </div>
  <div class="second-column">
    <div class="barra">
    </div>
    <div id="titulo">
      <h1> Perfil do Professor</h1>
    </div>
    <div class="Container-info-professor">
      <div class="info-professor">
        <div id="info">
          <div class="foto-professor">
            <img class="imagem"
              [src]="sexo == 'F' ? 'https://img.icons8.com/dusk/64/000000/school-director-female-skin-type-4.png' : 'https://img.icons8.com/dusk/64/000000/school-director-male-skin-type-4.png' ">
          </div>
          <div class="informacoes">
            <div class="linha, outraLinha" >
              <div class="professor">
                <span>Email:</span>
                <input [(ngModel)]='email' type="text">
              </div>
              <div class="professor">
                <span>Nome: </span>
                <input [(ngModel)]='nome' type="text">
              </div>
            </div>
            <div class="linha, outraLinha">
              <div class="professor">
                <span>Senha:</span>
                <input [(ngModel)]='senha' type="text">
              </div>
              <div class="professor">
                <span>User:</span>
                <input [(ngModel)]='usuario' type="text">
              </div>
            </div>
          </div>
        </div>
        <div (click)="mudarPerfil()" class="botao">
          <button>Alterar informações</button>
        </div>
        <div (click)="voltar()" class="botao">
          <button>Voltar</button>
        </div>
      </div>
    </div>
  </div>
</body>