<div id="body">
  <div id="lado">
    <div class="container-info-professor">
      <div class="container-imagem">
       <img class="imagem" [src]="sexo == 'F' ? 'https://img.icons8.com/external-wanicon-lineal-color-wanicon/64/000000/external-woman-avatar-wanicon-lineal-color-wanicon-4.png' : 'https://img.icons8.com/external-wanicon-lineal-color-wanicon/64/000000/external-man-avatar-wanicon-lineal-color-wanicon-7.png' " alt="">
      </div>
      <div>
        {{nome}}
      </div>
      <div>
        *"Ver perfil"*
      </div>
    </div>
  </div>
  <div class="container-turmas">
    <div id="turmas">
      <div class="turma">
        <h2>Turma que é</h2>
        <div>

        </div>
      </div>
    </div>
  </div>
</div>